{
  "printWidth": 90,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": false,
  "endOfLine": "auto",
  "jsxBracketSameLine": true,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
